## Visual Studio & VSCode
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sdf
*.cache

## VS WPF build artifacts
[Bb]in/
[Oo]bj/
*.g.cs
*.g.i.cs
*.i.cs
*.xaml.cs~

## SQLite và file tạm
*.sqlite
*.dbmdl
*.tmp
*.bak
*.log

## NuGet & .NET
packages/
*.nupkg
*.snupkg
*.symbols.nupkg
project.lock.json
project.fragment.lock.json

## JetBrains Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

## XAML Designer / Test
TestResults/
*.vspscc
*.vssscc
*.psess
*.vsp
*.vspx

## OS-specific
Thumbs.db
.DS_Store

## Others
*.orig
*.dmp
*.pidb
*.psess
*.config.transform
artifacts/
publish/
out/
